<ion-header mode='ios'>
        <ion-toolbar color="{{settings.theme.header}}">
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
              <ion-title style="font-weight: bold;">
                {{"About" | translate}}
              </ion-title>
        </ion-toolbar>
</ion-header>
<ion-content>
        <ion-card>
            <img src="././assets/image/logo.png" />
            <ion-card-header>
                <ion-card-title>About Papilon Plastics</ion-card-title>
            </ion-card-header> 
            <ion-card-content>
                    Founded in 1978, Papilon is one of the oldest and largest manufacturers of plastics in Nigeria with her factory in Sango Otta. 
                    The product range includes household domestic items, furniture, coolers, casseroles, pens, industrial items and food packaging products.

                    Papilon is known for the widest selection of high quality innovative products. As the market leaders, many strong brands exist within the Papilon portfolio such as; Powercool, Powerpack and Leosmart. 
                    We also  provide corporate branded items for many companies and multi nationals of Nigeria for promotional use.
            </ion-card-content>
        </ion-card>
</ion-content>
