<ion-header mode='ios' >
  <ion-toolbar color="{{settings.theme.header}}">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title style="font-weight: bold;">
      {{"Categories" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="categories">
	<!-- <ion-row>
    <ion-col size='6' size-sm="4" size-md="3" *ngFor="let category of data.mainCategories" (click)="getProducts(category.id)">
    <ion-card class="category-card" class="ion-activatable ion-focusable hydrated" mode="md">
       <ion-thumbnail >
          <ion-img alt="" src="{{category.image?.src}}"></ion-img>
        </ion-thumbnail>
      <ion-card-header>
        <ion-card-title [innerHTML]="category.name"></ion-card-title>
      </ion-card-header>
    </ion-card>
    </ion-col>
  </ion-row> -->
  <ion-list>
    <ion-card *ngFor="let category of data.mainCategories" (click)="getProducts(category.id)" tappable>
      
          <ion-thumbnail slot= 'start'>
            <ion-img alt="" src="{{category.image?.src}}"></ion-img>
          </ion-thumbnail>
          <ion-card-content>
              <h1 style="font-weight: bold;" [innerHTML]="category.name"></h1>
              <p [innerHTML]="category.description"></p>
          </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
