<ion-header mode='ios' class="product-header" >
   <ion-toolbar color="{{settings.theme.header}}">
      <ion-buttons slot="start">
         <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <!-- <ion-title id="whatsapp_number">
         {{product?.name}}
      </ion-title> -->
      <!-- <ion-buttons slot="end" (click)="share()">
         <ion-icon name="logo-whatsapp" style="margin-right: 8px;font-size: 23px"></ion-icon>
      </ion-buttons> -->
   </ion-toolbar>
</ion-header>
<ion-content class="product"> 
   <div class="spinner" *ngIf="!product.id">
      <ion-spinner> </ion-spinner>
   </div>
   <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="settings.settings?.enable_product_chat">
      <a href="https://wa.me/{{settings.settings?.whatsapp_number}}">
         <ion-fab-button size="small" color="whatsapp">
            <ion-icon name="logo-whatsapp"></ion-icon>
         </ion-fab-button>
      </a>
   </ion-fab>
   <div *ngIf="product.id">
      <ion-slides pager="true" [options]="slideOpts" *ngIf="!product.image" dir="{{settings.dir}}">
         <ion-slide *ngFor="let item of product.images">
            <img id="{{item.src}}" src="{{item.src}}" (click)="expandImage($imgSrc)"/>
         </ion-slide>
      </ion-slides>
      <div *ngIf="product.image">
         <ion-img  src="{{product.image}}"></ion-img>
      </div>
      <ion-button color="danger" class="stock" *ngIf="product.stock_status == 'outofstock'">{{"No Stock" | translate}}</ion-button>
      <div class="product-details">
         <!-- <ion-item lines="none">
            <ion-label text-wrap>
               {{product.name}}
            </ion-label>
         </ion-item> -->
         
         <ion-card *ngIf="product.description">
               <ion-card-header>
                     <ion-card-title text-wrap>
                           {{product.name}}
                     </ion-card-title>
               </ion-card-header> 
         <ion-card-content  [innerHTML]="product.description">
         </ion-card-content>
         </ion-card>

         <!-- <ion-item *ngIf="product.description">
            <ion-label text-justify text-wrap [innerHTML]="product.description">
            </ion-label>
         </ion-item> -->
      </div>
   </div>
   <div class="fixed-parent">
      <ion-button (click)="share()" class="whatsapp-button" color="success" size="large" expand="block" shape="round"  >
      <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
      Request on Whatsapp
      </ion-button>
   </div>

<!-- <ion-button (click)="share()" style="border-raduis:20px;" color="success" size="large" expand="block"  >
      <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
      Request on Whatsapp
</ion-button> -->

</ion-content>