<ion-header mode='ios' >
  <ion-toolbar color="{{settings.theme.header}}">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title style="font-weight: bold;">
      {{"Favourites" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let fav of favs">
      Hello
    </ion-item>
  </ion-list>
  <!-- <ion-list *ngIf="products">
    <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}" [style.border-radius.px]="settings.dimensions.productBorderRadius">
      <ion-img alt="" [style.height.px]="settings.dimensions.productsGridViewHeight" (click)="getProduct(product)" *ngIf="product.images?.length" src="{{product.images[0].src}}"></ion-img>
      <ion-img alt="" [style.height.px]="settings.dimensions.productsGridViewHeight" (click)="getProduct(product)" *ngIf="!product.images?.length" src="assets/image/logo.png"></ion-img>
                        
      <ion-card-header (click)="getProduct(product)" class="ion-activatable ion-focusable hydrated">
        <ion-card-subtitle mode="md">{{product.name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content (click)="getProduct(product)" class="ion-activatable ion-focusable hydrated">
      </ion-card-content>
    </ion-card>
  </ion-list> -->
</ion-content>