<ion-header mode='ios'>
        <ion-toolbar color="{{settings.theme.header}}">
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
              <ion-title style="font-weight: bold;">
                {{"Contact" | translate}}
              </ion-title>
        </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item (click)="callUs()" lines="inset" class="ion-activatable">
            <ion-icon class="icon-start ion-margin-end" name="call" slot="start"></ion-icon>
            <ion-label>{{"Call us" | translate}}</ion-label>
            <ion-icon name="arrow-forward" mode="ios" color="medium"></ion-icon>
        </ion-item>
        <a href="https://wa.me/{{settings.settings?.whatsapp_number}}">
            <ion-item lines="inset" class="ion-activatable">
                 <ion-icon class="icon-start ion-margin-end" name="logo-whatsapp" slot="start"></ion-icon>
                 <ion-label>{{"Whatsapp us" | translate}}</ion-label>
                 <ion-icon name="arrow-forward" mode="ios" color="medium"></ion-icon>
             </ion-item>
             </a>
        <a href="https://facebook.com/papilonplastics">
        <ion-item lines="inset" class="ion-activatable">
                <ion-icon class="icon-start ion-margin-end" name="logo-facebook" slot="start"></ion-icon>
                <ion-label>{{"Facebook" | translate}}</ion-label>
                <ion-icon name="arrow-forward" mode="ios" color="medium"></ion-icon>
            </ion-item>
            </a>
        <a href="https://instagram.com/papilonplastic">
            <ion-item lines="inset" class="ion-activatable">
                    <ion-icon class="icon-start ion-margin-end" name="logo-instagram" slot="start"></ion-icon>
                    <ion-label>{{"Instagram" | translate}}</ion-label>
                    <ion-icon name="arrow-forward" mode="ios" color="medium"></ion-icon>
                </ion-item>
                </a>
        <a href="https://twitter.com/plasticspapilon">
            <ion-item lines="inset" class="ion-activatable">
                    <ion-icon class="icon-start ion-margin-end" name="logo-twitter" slot="start"></ion-icon>
                    <ion-label>{{"Twitter" | translate}}</ion-label>
                    <ion-icon name="arrow-forward" mode="ios" color="medium"></ion-icon>
                </ion-item>
                </a>
        <ion-item (click)="email(settings?.settings?.support_email)" *ngIf="settings?.settings?.support_email" lines="inset" class="ion-activatable">
            <ion-icon class="icon-start ion-margin-end" name="mail" slot="start"></ion-icon>
            <ion-label>{{"Email us" | translate}}</ion-label>
            <ion-icon name="arrow-forward" mode="ios" color="medium"></ion-icon>
        </ion-item>

        <ion-item lines="inset" (click)="goTo('/map')" class="ion-activatable" *ngIf="settings.settings?.switchLocations">
            <ion-icon class="icon-start ion-margin-end" name="compass" slot="start"></ion-icon>
            <ion-label>{{"Locations" | translate}}</ion-label>
            <ion-icon name="arrow-forward" mode="ios" color="medium"></ion-icon>
        </ion-item>
        <ion-item *ngIf="settings.languages?.length" lines="inset" (click)="goTo('tabs/account/setting')" lines="inset" class="ion-activatable">
            <ion-icon class="icon-start ion-margin-end" name="globe" slot="start"></ion-icon>
            <ion-label>{{"Language" | translate}}</ion-label>
            <ion-icon name="arrow-forward" mode="ios" color="medium"></ion-icon>
        </ion-item>

        <div *ngFor="let page of settings.pages">
        <ion-item lines="inset" *ngIf="page.url" (click)="goTo('/tabs/account/post/'+page.url)" lines="inset" class="ion-activatable">
            <ion-icon class="icon-start ion-margin-end" name="document" slot="start"></ion-icon>
            <ion-label>{{page.title}}</ion-label>
            <ion-icon name="arrow-forward" mode="ios" color="medium"></ion-icon>
        </ion-item>
        </div>
      </ion-list>
</ion-content>
